{% extends "layout.html" %}
  
{% block content %}
  <div class="jumbo">
    <h2>קצת עלינו</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;קבוצת נשים אשר שמה לה למטרה לקדם את מעמד האישה בישראל.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;אנו סבורות כי אין מקום במאה ה-21 ליחס פוגעני לנשים, ומיגורו ייטיב עם החברה כולה.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;באמצעות פלטפורמה זו אנו שואפות להוריד את כמות ההטרדות המיניות של נשים לאפס.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;אנו זקוקות לכן אמיצות ומגויסות לשבור את קשר השתיקה, ובכך לתרום את חלקכן ביצירת סביבה מרתיעה עבור כל עבריין פוטנציאלי</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;ולחסוך מנשים רבות אחרות לעבור את החוויה המשפילה והלא נעימה הזו.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;אנחנו כאן אחת עבור השנייה לסייע לאחד ולגבש את הנשים לכדי קבוצת כוח</p>
    <p></p>
  </div>
{% endblock %}