{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <!-- This is a comment -->
    <h2>נשים למען נשים<h2>
    <h3>ברוכות הבאות לאתר הנרתם למען המאבק בהטרדות מיניות<h3>
  </div>
  <div class="jumbo">
    <p>איך זה עובד?</p>
    <p>אתן מדווחות על אדם אשר הטריד אתכן מינית, ועל המסגרת אשר בה ארעה ההטרדה&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>ברגע שאנו מאתרות מטרידן סדרתי, ששמו מדווח על ידי מספר נשים, אנחנו יוצרות איתכן קשר ומנסות להניע תהליך&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>הרעיון בבסיסו, שבהתמודדות אחת מול אחד אתן אולי נעדרות כוח, אך יחד כקבוצה אתן כבר כוח&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* לא תעשה שום פעולה ללא הסכמת הנוגעות בדבר </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*  מובטחת אנונימיות לפונות </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*  אעפ"י שהפניה בלשון נקבה, הרי שהדברים פונים גם לגברים שהוטרדו </p>
    <p></p>
    <p></p>
  </div>
{% endblock %}
